<div class="row">
	<!-- search box to add another product to compare -->
	<%= simple_form_for(@product, url: comparison_products_path(@comparison), action: :create, method: :post, defaults: { wrapper_html: {class: 'form-group'}, input_html: { class: 'form-control' } })  do |f| %>
			<%#= f.simple_fields_for :products do |ff| %>
				<%= f.input :url, placeholder: 'Paste here another link to an Amazon product' %>
				<%#= f.input :products_hash, as: :hidden, input_html: {value: @crunchm} %> 
			<%= f.button :submit, value: 'Crunchm' %>
		<% end %>
	
	<!-- Display comparison results -->
	<table class='table table-striped draggable'>
		<thead>
			<tr>
				<th></th>
				<% @crunchm.each do |asin,values| #unless asin is the hash of attributes named tributes_all_hash %>
					<% unless asin == :tributes_all_hash   %>
						<th class='th'>
							<span><%= values['Title'][:value]%></span>
							<p><img src= <%= values['image'][:value] %>></p>
						</th>

					<% end %>
				<% end %>
				
			</tr>
		</thead>
		<tbody>

		<% @crunchm[:tributes_all_hash].each do |tribute, stats| %>
			<% unless [:image, :price_data, :Title].include?(tribute) %>
			<tr>
				<td><%= tribute.to_s.titleize unless [:image, :price_data, :Title].include?(tribute)%><p class='slider'><%= stats[:weight] %></p><p><%#= stats[:placement]%></p></td>
			<% @crunchm.each do |asin,values| #unless asin is the hash of attributes named tributes_all_hash %>
				<% unless asin == :tributes_all_hash   %>
					<% if values.has_key?(tribute.to_s) && [:image, :price_data, :Title].exclude?(tribute) && values[tribute.to_s][:value] != '0.0'%>
						<td><span><%= values[tribute.to_s][:value] %></span><p class="slider"><%= values[tribute.to_s][:score] %></p></td>
					<% elsif tribute == :image %>					
						<td><img src= <%#= values[tribute.to_s][:value] %>></td>
					<% elsif values.has_key?(tribute.to_s) && values[tribute.to_s][:value] == '0.0' %>
						<td>N/A</td>										
					<% else %>
						<td>--</td>
					<% end %>
				<% end %>
			<% end %>
			</tr>
		<% end %>
		<% end %>
		</tbody>
	</table>

	
	<p>http://www.amazon.com/Samsung-Galaxy-Tab-7-Inch-Gold-Brown/dp/B00D02AG7C/ref=sr_1_3?s=electronics&ie=UTF8&qid=1386449781&sr=1-3&keywords=tablet+samsung</p>

	<p>http://www.amazon.com/Sony-Xperia-SGP311U1-10-1-Inch-Tablet/dp/B00CE590Z0/ref=sr_1_1?s=electronics&ie=UTF8&qid=1386450305&sr=1-1&keywords=tablet+sony</p>

</div>