<div class="row">
	<!-- search box to add another product to compare -->
	<%= simple_form_for(@product, url: comparison_products_path(@comparison), action: :create, method: :post, defaults: { wrapper_html: {class: 'form-group'}, input_html: { class: 'form-control' } })  do |f| %>
			<%#= f.simple_fields_for :products do |ff| %>
				<%= f.input :url, placeholder: 'Paste here another link to an Amazon product' %>
				<%#= f.input :products_hash, as: :hidden, input_html: {value: @crunchm} %> 
			<%= f.button :submit, value: 'Crunchm' %>
		<% end %>
	
	<!-- Display comparison results -->
	<table class='table table-striped'>
		<% @crunchm[:tributes_all_hash].each do |tribute, stats| %>
			<tr>
				<td><%= tribute.to_s.titleize unless tribute == :image %></td>
				<td><%#= stats[:weight] %></td> <!--this will be the slider -->
				<td><%= stats[:placement]%><td>			
			<% @crunchm.each do |asin,values| #unless asin == tributes_all_hash %>
				<% unless asin == :tributes_all_hash   %>
					<% if values.has_key?(tribute.to_s) && tribute != :image %>
						<td><%= values[tribute.to_s][:value] %></td>
						<td><%= values[tribute.to_s][:score] %></td><!--this will be the slider -->
					<% elsif tribute == :image %>					
						<td><img src= <%= values[tribute.to_s][:value] %>></td>
						<td></td>
					<% else %>
						<td>--</td>
						<td>--</td>
					<% end %>
				<% end %>
			<% end %>
			</tr>
		<% end %>
	</table>

	
	<p>http://www.amazon.com/Samsung-Galaxy-Tab-7-Inch-Gold-Brown/dp/B00D02AG7C/ref=sr_1_3?s=electronics&ie=UTF8&qid=1386449781&sr=1-3&keywords=tablet+samsung</p>

	<p>http://www.amazon.com/Sony-Xperia-SGP311U1-10-1-Inch-Tablet/dp/B00CE590Z0/ref=sr_1_1?s=electronics&ie=UTF8&qid=1386450305&sr=1-1&keywords=tablet+sony</p>

</div>