<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="loginModalLabel">Login</h4>
      </div>
      <div class="modal-body">
       <%= simple_form_for @user, url: sessions_path, method: :post, html: {class: 'pull-left', id: 'login_user'} do |f| %>
         <div class="form-group">
         <% if flash[:error] %>
           <% flash[:errors].each do |error| %>
            <p class='text-error'><%= error %></p>
         <% end %> 
       <% end %>
       <%= f.input :email, label: 'Email', placeholder: 'user@domain.com' %>
       <%= f.input :password, label: 'Password', placeholder: 'at least 6 characters' %>
       <%= f.submit 'Login', class: 'btn pull-right'%>
      </div>
      <% end %>
      </div><!-- modal-body -->
      <div class="modal-footer">
        <h5>Welcome back!</h5>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal