<!DOCTYPE html>
<html>
  <head>
    <title>Crunchm</title>
    
    <%= stylesheet_link_tag "comparisons", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <!-- <script src="dragtable.js"></script> -->
    <!-- <script type="text/javascript" src="jquery.tablesorter.js"></script> -->
      
    <script>
        $(function() {

           // $( ".slider" ).each(function() {
      // read initial values from markup and remove that
              // var value = parseInt( $( this ).next().text(), 10 );
              // $( ".slider").slider({
              //   min:0,
              //   max: 100,
              //   value: 33,
              //   range: "min",
              //   orientation: "horizontal",
              //   slide: function(event, ui){
              //     $(".weight-value").val(ui.value);
              //   }


              // });
              // $(".weight-value").val($(".slider").slider("value"));
            
          
        });

        $(document).ready(function(){
          $( ".slider" ).each(function() {

            // });
            // $( ".slider" ).slider({
            //     orientation: "horizontal",
            //     range: "min",
            //     min: 0,
            //     max: 100,
            //     value: 60,
            //     slide: function( event, ui ) {
            //       $( ".weight-value" ).val( ui.value );
            //     }
            //   });
            //   $( ".weight-value" ).val( $( ".slider" ).slider( "value" ) );
            // });


              // $( ".slider" ).each(function() {

            $(this).slider({
                orientation: "horizontal",
                range: "min",
                min: 0,
                max: 100,
                value: 60,
                slide: function( event, ui ) {
                  $(this).next().val( ui.value );
                }
              });
              $(this).next().val($(this).slider( "value" ) );
            });
         
          
          $(".slider").hide();

           $(document).on('mouseenter','.td',function(){
              $(this).find('.slider').fadeIn(100);
           });

            $(document).on('mouseleave','.td',function(){
              $(this).find('.slider').fadeOut(100);
           });

            $(".glyphicon").hide();

            $(document).on('mouseenter','.th',function(){
              $(this).find('.glyphicon').fadeIn(100);
            });

            $(document).on('mouseleave','.th',function(){
              $(this).find('.glyphicon').fadeOut(100);
            });

        });

        // $(function() {

        //    $('#table').tablesorter();
        // });
    </script>
    <%= csrf_meta_tags %>



  </head>
  <body>
  <div class="container">
  	   <%= render 'layouts/nav' %>
       <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
       <% end %>
       <%= yield %>

  </div>
  </body>
</html>
