<!DOCTYPE html>
<html>
  <head>
    <title>crunchm |comparison|</title>
    
    <%= stylesheet_link_tag "user", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "user", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div class="container">
  	   <%= render 'layouts/nav' %>
       <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
       <% end %>
       <%= yield %>

  </div>
  </body>
</html>
